# python venv
.venv/
.tempvenv/

# enviromental files
.env

# python cache
*.pyc

# hugging face cache
.cache/
.embs/

# configuration files
config.json

# the datasets
er_datasets/

# duckdb executable
duckdb

# nohup output files
nohup.out
